<section class="contents visitor-archives">
        <div class="inner">
          <h2>来訪者履歴</h2>
          <div class="visitor-list">
            <table>
              <thead>
                <tr>
                  <th>日時</th>
                  <th>来訪者</th>
                  <th>来訪者会社名</th>
                  <th>担当者</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2022/9/30<span>5:18PM</span></td>
                  <td>山田太郎A</td>
                  <td></td>
                  <td>末綱真歩</td>
                </tr>
                <tr>
                  <td>2022/9/28<span>3:48PM</span></td>
                  <td>山田太郎A</td>
                  <td>株式会社ダミーテキスト</td>
                  <td>渡邊一徹</td>
                </tr>
                <tr>
                  <td>2022/9/26<span>5:18PM</span></td>
                  <td>山田太郎C</td>
                  <td></td>
                  <td>末綱真歩</td>
                </tr>
                <tr>
                  <td>2022/9/10<span>10:18AM</span></td>
                  <td>山田太郎A</td>
                  <td>株式会社ダミーテキスト</td>
                  <td>渡邊一徹</td>
                </tr>
                <tr>
                  <td>2021/11/30<span>9:05AM</span></td>
                  <td>山田太郎A</td>
                  <td></td>
                  <td>末綱真歩</td>
                </tr>
                <tr>
                  <td>2021/10/21<span>5:18PM</span></td>
                  <td>山田太郎A</td>
                  <td>株式会社ダミーテキスト</td>
                  <td>渡邊一徹</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <footer>
          <p class="copyright">© 2022 Co.lab.inc</p>
        </footer>
      </section>
    </div>